intput
output
.idea
.vscode
__pycache__
build
dist
tmp
lib
build.log
*.db
*.airunner
main.build
main.dist
main.onefile-build
settings.pickle
.run
*egg-info*
venv
src/airunner/extensions/
alembic.ini
src/airunner/scripts/realesrgan
src/airunner/scripts/weights
gfpgan
test.json
.pybuild
.debhelper
/debian/airunner/usr/share/
/debian/airunner/DEBIAN/
/debian/airunner.substvars
/debian/debhelper-build-stamp
/debian/files
.pc
htmlcov
network_access_attempts.log