#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	dh_clean
	find . -type d -name "__pycache__" -exec rm -r {} +

override_dh_auto_build:
	# Your custom build commands go here
	# This line must be indented with a tab
	bash build.dev.sh

override_dh_auto_test:
	# If you don't have tests, override to do nothing
	# This line must be indented with a tab

override_dh_auto_install:
	# Manually specify installation of your PyInstaller binary
	# This line must be indented with a tab
	mv dist/airunner/airunner /usr/bin/airunner
