/* map.css - Leaflet map widget styles */
#map {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.leaflet-bottom.leaflet-right {
    display: none;
}