services:
  airunner_windows_package:
    container_name: windows_package
    image: capsize-games/airunner/airunner:windows_builder
    build:
      context: ../..
      dockerfile: package/windows/Dockerfile
    stdin_open: true
    tty: true
    # Don't specify user - let entrypoint.sh handle permissions
    volumes:
      - ../..:/app # Mount the project root into the container's /app directory
    working_dir: /app
    environment:
      - WINEDEBUG=fixme-all
      - DISPLAY=:0
      - WINEARCH=win64
      - WINEPREFIX=/home/wineuser/.wine
      - BUTLER_API_KEY=${BUTLER_API_KEY:-} # Pass through Butler API key if needed for uploads
      - DEV_ENV=0
      - AIRUNNER_ENVIRONMENT="prod"
      - PYTHONOPTIMIZE=0
