name: Docker Release

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      HOST_UID: 1000
      HOST_GID: 1000
      UID: 1000
      GID: 1000
      AIRUNNER_HOME_DIR: /home/appuser/.local/share/airunner
      CI_MODE: 1

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to GitHub Container Registry
      run: echo "${{ secrets.CR_PAT }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

    - name: Create .env file
      run: |
        echo "HOST_UID=1000" >> .env
        echo "HOST_GID=1000" >> .env
        echo "UID=1000" >> .env
        echo "GID=1000" >> .env
        echo "AIRUNNER_HOME_DIR=/home/appuser/.local/share/airunner" >> .env
        echo "CI_MODE=1" >> .env

    - name: Build and push Docker image via Compose
      run: |
          chmod +x ./src/airunner/bin/docker.sh
          ./src/airunner/bin/docker.sh --ci build_base
          docker tag ghcr.io/capsize-games/airunner/airunner:linux_ci ghcr.io/capsize-games/airunner/airunner:linux
          docker push ghcr.io/capsize-games/airunner/airunner:linux

    - name: Clean up Docker
      if: always()
      run: docker system prune -af
